{% extends 'base.html' %}

{%block conteudo%} 
<h1 class="mt-5">{{ cliente.Servico }} </h1>
<dl>

  
    <!-- <dt>ID</dt>
    <dd>{{ cliente.id }}</dd> -->
    {% if cliente.foto %}
    <p>
        <img src="{{ cliente.foto.url }}" style="max-width: 100px; height: auto;">
    </p>

    <dt>Padrão</dt>
    <dd>{{ cliente.Padrao }}</dd>
    
    <dt>Diagnóstico</dt>
    <dd>{{ cliente.Diagnostico }}</dd>

    <dt>Solução para o problema</dt>
    <dd>{{ cliente.Solucao }}</dd>

    <dt>Orçamento detalhado</dt>
    <dd>{{ cliente.Orcamento }}</dd>

    <dt>Preço Ideal</dt>
    <dd>{{ cliente.Preco_ideal }}</dd>

    <dt>Preço Maximo</dt>
    <dd>{{ cliente.Preco_max }}</dd>

    <dt>Categoria</dt>
    <dd>{{ cliente.Categoria }}</dd>

    <dt>Fornecedor</dt>
    <dd>{{ cliente.Fornecedor }}</dd>

    <!-- <dt>Ativo</dt>
    <dd>{{ cliente.Ativo }}</dd> -->

    <br><br>

   
    {%endif%}

</dl>

{%endblock%}